
@import "tailwindcss";
body{
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgb(171, 179, 170);
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(1px);
}
